<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Django Crash Course</title>
  </head>
  <body>
    <!-- Hello World -->
    <!-- {{ request.user.is_authenticated }} -->

    {% if request.user.is_authenticated %}
      Hello {{ request.user.username }}
    {% else %}
      Hello anonymous user
    {% endif %}

    <ul>
      {% for todo in todo_list %}

        <li>{{ todo.name }} it's due {{ todo.due_date }}</li>

      {% endfor %}
    </ul>
  </body>
</html>
